/* App.css */

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.body-cover {
  padding: var(--Outer-Radius, 24px) var(--Outer-Radius, 24px) 32px var(--Outer-Radius, 24px);
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 32px;
  border-radius: var(--Outer-Radius, 24px);
  background: #fff;
  box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.10);
}

.body-content{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 32px;
}

.logo-container {
  display: flex;
  align-items: center;
  gap: 8px;
}

.icons-container {
  display: flex;
  align-items: center;
  gap: 8px;
}

/* Additional styles for text and image alignment */
.text-slate-600 {
  display: flex;
  flex-direction: column;
  text-align: left; /* Align text to the left */
}

.text-center {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 80px;
}

.text-icon{
  display: flex;
  justify-content: center;
  gap: 30px;
 
  
}

